.listfriend-form {
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    padding: 5px 5px;
    border-right: 1px solid white;
    height: 80%;

    .MuiTab-root {
        color: white !important;
    }


    .listfriend-title {
        text-align: center;
        font-size: 16px;
        font-weight: 700;

        .title {
            color: white !important;
        }

    }

    .css-19midj6 {
        padding: 0px 5px;
    }

    .text-label {
        color: white;

    }

    .css-lfwcke-MuiTabs-flexContainer {
        width: 250px !important
    }

}