.playing-battle-square-container {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
    cursor: pointer;
}

.playing-battle-square-no-pointer {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
}

.playing-battle-square-container:hover {
    border: 1px solid rgb(255, 255, 255);
}

.hit {
    background-color: rgba(255, 0, 0, 0.5) !important;
}