.search-friend {
    background-color: transparent !important;
    border: 1px solid white;


    .search-input {
        color: white !important;
    }

    .css-e53awj-MuiStack-root {
        width: 250px !important;
    }

}