.match-timer-container {
    height: 100px;
    // background: rgba($color: #000000, $alpha: 0.8);
    text-align: center;
    border-radius: 15px;

    .searching-game {
        font-size: 16px;
        font-weight: 600;
    }

    .time-number {
        font-size: 40px !important;
        font-weight: 700;
        text-align: center;

        .icon {
            margin-left: 5px;
        }
    }
}

.find_now {
    background-image: url("../../../../assets/elements/find_game_bg.png");
    background-size: cover;
}